<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<h1 style="color: red">Form Input</h1>
<form th:action="@{/result}" method="post" th:object="${userModel}">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red"></p>
        <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp"
               placeholder="Enter firstName" th:field="*{firstName}">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red"></p>
        <input type="text" class="form-control" id="lastName" placeholder="LastName" th:field="*{lastName}">
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: red"></p>
        <input type="text" class="form-control" id="phoneNumber" placeholder="PhoneNumber" th:field="*{phoneNumber}">
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red"></p>
        <input type="text" class="form-control" id="age" placeholder="Age" th:field="*{age}">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></p>
        <input type="text" class="form-control" id="email" placeholder="Email" th:field="*{email}">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>