<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/back}">Back</a>
<form action="/borrow" method="post" th:object="${book}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Name Book</td>
            <td><input type="text" th:field="*{nameBook}"></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td><input type="text" th:field="*{quantity}"></td>
        </tr>
        <tr>
            <td></td>
            <td><button>Borrow</button></td>
        </tr>
    </table>
</form>
</body>
</html>