<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Blog</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody id="tableList">
        </tbody>
    </table>
</div>
<br>
<input type="button" id="loadMore" value="Load More"><br><br>
<div id="hetRoi"></div>
<br>
<label>
    <input type="text" id="keyword" placeholder="Input key word"/>
</label>
<input id="searchBlog" type="button" value="Search"/><br>

<div id="searchResult"></div>

<script src="js/jquery-3.5.1.min.js"></script>
<script>
    // $(document).ready(function () {
    //     let data = '';
    //     $.ajax({
    //         headers: {
    //             'Accept': 'application/json',
    //             'Content-Type': 'application/json'
    //         },
    //         type: "GET",
    //         url: "http://localhost:8080/restBlog/ajax-blog",
    //         success: function (listBlog) {
    //             for (let i = 0; i < listBlog.length; i++) {
    //                 data += '<tr>\n' +
    //                     '<td>' + listBlog[i].name + '</td>\n' +
    //                     '<td>' + listBlog[i].content + '</td>\n' +
    //                     '</tr>';
    //             }
    //             $("#tableList").html(data);
    //         },
    //         error: function (content) {
    //             console.log(content);
    //         }
    //     });
    // });

    $(document).ready(function () {
        let data = '';
        let hetRoi = '';
        $("#searchBlog").click(function () {
            let keyword = $("#keyword").val();
            console.log(keyword);
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "GET",
                url: "http://localhost:8080/restBlog/blog/" + keyword,
                success: function (blog) {
                    console.log(blog);
                    data += '<h3>ID : ' + blog.id + '</h3>' + '<h3>Name : ' + blog.name + '</h3>'
                        + '<h3>Date Create : ' + blog.dateCreated + '</h3>'
                        + '<h3>Content : ' + blog.content + '</h3>' + '<h3>Category : ' + blog.category.name + '</h3>';
                    $("#searchResult").html(data);
                },
                error: function (content) {
                    console.log(content);
                }
            });
        });
    });

    $(document).ready(function () {
        let limit = 2;
        let start = 0;
        let data = '';
        let hetRoi = '';
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET",
            url: "http://localhost:8080/restBlog/ajax-blog-scroll?start=" + start + "&limit=" + limit,
            success: function (listBlog) {
                for (let i = 0; i < listBlog.length; i++) {
                    data += '<tr>\n' +
                        '<td>' + listBlog[i].name + '</td>\n' +
                        '<td>' + listBlog[i].content + '</td>\n' +
                        '</tr>';
                }
                $("#tableList").html(data);
            },
            error: function (content) {
                console.log(content);
            }
        });

        $('#loadMore').click(function () {
            start += 2;
            let dataEmpty = "";
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "GET",
                url: "http://localhost:8080/restBlog/ajax-blog-scroll?start=" + start + "&limit=" + limit,
                success: function (listBlog) {
                    for (let i = 0; i < listBlog.length; i++) {
                        data += '<tr>\n' +
                            '<td>' + listBlog[i].name + '</td>\n' +
                            '<td>' + listBlog[i].content + '</td>\n' +
                            '</tr>';
                        dataEmpty += listBlog[i].name;
                    }
                    $("#tableList").html(data);
                    if (dataEmpty === '') {
                        hetRoi += 'Hết thông tin rồi mấy bạn ơi ! Đừng click mình nữa !' + '<br>';
                    }
                    $("#hetRoi").html(hetRoi);
                },
                error: function (content) {
                    console.log(content);
                }
            });
        });
    });
</script>
</body>
</html>